<div>
  <ion-card-title>
    <span>Our Products</span>
    <div class="view-all" style="display: flex;">
      <a (click)="navigateToProductAll()">View All</a>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </ion-card-title>
  <swiper-container [slidesPerView]="2" [zoom]="false" navigation="true">
    <swiper-slide *ngFor="let store of stores" class="bg-content">
      <ion-col size="6">
        <!-- product list -->
        <ion-card (click)="navigateToProductDetail(store)">
          <ion-row>
            <ion-col class="ion-justify-content-center product">
              <img alt="{{store.name}}" [src]="store.imageUrl" />
            </ion-col>
          </ion-row>
          <ion-card-header>
            <ion-text class="price">{{store.price}} $</ion-text>
            <ion-text class="product-name fix-2-row">{{store.name}}</ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-align-items-center ion-justify-content-between">
              <ion-text>{{store.unitCapitity}}lb</ion-text>
              <ion-text>{{store.unitPrice}}/lb</ion-text>
            </ion-row>
            <ion-row class="ion-align-items-center add">
              <ion-button (click)="addProduct($event, store)" class="btn" size="small" color="primary">{{
                checkAdded(store) ? 'Added' : 'Add' }}</ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <!-- product list -->
      </ion-col>
    </swiper-slide>
  </swiper-container>
</div>