<div>
  <ion-card-title>
    <span>Sản phẩm chúng tôi</span>
    <div class="view-all" style="display: flex;">
      <a (click)="navigateToProductAll()">Xem tất cả</a>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </ion-card-title>
  <swiper-container [slidesPerView]="2" [zoom]="false" navigation="true">
    <swiper-slide *ngFor="let item of productData" class="bg-content">
      <ion-col size="6">
        <!-- product list -->
        <ion-card (click)="navigateToProductDetail(item)">
          <ion-row>
            <ion-col class="ion-justify-content-center product">
              <img alt="{{item.attributes.ProductName}}" [src]="item.attributes.ProductImage" />
            </ion-col>
          </ion-row>
          <ion-card-header>
            <ion-text class="price">{{item.attributes.ProductPrice | number:'1.0-0'}} ₫</ion-text>
            <ion-text class="product-name fix-2-row">{{item.attributes.ProductName}}</ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-align-items-center ion-justify-content-between">
              <ion-text>{{item.attributes.UnitCapitity}}ml</ion-text>
              <ion-text>{{item.attributes.UnitPrice | number:'1.0-0'}}₫/lb</ion-text>
            </ion-row>
            <ion-row  class="ion-align-items-center add">
              <!-- Button add & delete logined-->
              <ion-button *ngIf="!isProductInCart(item.attributes.ProductId)" (click)="addProduct($event,item)"
                class="btn" size="small" color="primary">Thêm</ion-button>
              <ion-button *ngIf="isProductInCart(item.attributes.ProductId)" (click)="cancelProduct($event, item)"
                class="btn" size="small" color="primary">Huỷ</ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <!-- product list -->
      </ion-col>
    </swiper-slide>
  </swiper-container>
</div>