<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Search Product</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content color="light">
    <ion-list [inset]="true" class="list-result" *ngIf="stores.length > 0">
      <ion-item *ngFor="let nameProduct of stores">
        <ion-label>{{ nameProduct.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>