<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Search Product</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content color="light">
    <a [routerLink]="['/product-detail', nameProduct.id]" *ngFor="let nameProduct of stores">
      <ion-list [inset]="true" class="list-result" *ngIf="stores.length > 0">
          <ion-item>
            <ion-label>{{ nameProduct.name }}</ion-label>
          </ion-item>
      </ion-list>
    </a>
  </ion-content>
</ion-content>