<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Search Product</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content color="light">
    <a (click)="setOpen(product)" *ngFor="let product of stores">
      <ion-list [inset]="true" class="list-result" *ngIf="stores.length > 0">
          <ion-item>
            <ion-label>{{ product.name }}</ion-label>
          </ion-item>
      </ion-list>
    </a>
  </ion-content>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Product Detail</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setClose(false)"><ion-icon color="danger" name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <app-product-details [product]="selectedProduct"></app-product-details>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

