.bg-content {

    a {
        text-decoration: none;
    }

    .product {
        display: flex;

        img {
            width: 120px;
            height: 140px;
        }
    }

    .product-name {
        display: inline-block;
        font-size: 15px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // .fix-2-row {
    //     display: -webkit-box;
    //     -webkit-line-clamp: 4;
    //     -webkit-box-orient: vertical;
    //     overflow: hidden;
    // }

    .price {
        color: var(--ion-color-primary);
        font-weight: bolder;
        font-size: 20px;
        line-height: 1.75;
    }

    ion-chip {
        font-size: 10px;
    }

    ion-card-header {
        padding: 0 16px;
    }

    ion-card-content {
        padding: 0 16px;

        .add {
            display: block;

            ion-button {
                display: block;
            }
        }

        .btn {
            margin-top: 8px;
            margin-bottom: 15px
        }
    }

}