.toolbar-custom {
    ion-back-button {
        padding-left: 10px;
        color: var(--ion-color-warning-contrast);
    }

    .icon-plus {
        padding-right: 10px;
        font-size: 25px;
    }
}

.item-text {
    .label-infor {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid var(--ion-color-warning-shade);
        padding: 5px;

        .text-expires {
            position: relative;
            right: -25px;
        }
    }

    .linked-custom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .linked-setDefault {
            font-size: 18px;
            margin-top: 20px;
            color: var(--ion-color-medium);
        }

        .linked-remove {
            font-size: 18px;
            margin-top: 20px;
            color: var(--ion-color-primary);
        }
    }
}