<ion-card-title class="news">
  Blogs Vine
</ion-card-title>

<ion-col *ngFor="let item of news">
  <ion-row class="content2">
    <ion-card>
      <img class="poster2" [src]="item.imageUrlnew" alt={{item.title}}>
      <ion-card-title class="title-news">{{item.title}}</ion-card-title>
      <ion-card-content>
        <p class="ion-no-margin">{{item.content}}</p>
        <ion-row class="timedate ion-align-items-center">
          <ion-icon name="time-outline"></ion-icon> 
          <span class="ion-no-margin">{{item.date}}</span>
        </ion-row>
      </ion-card-content>
      <ion-row class="ion-align-items-center btn-read">
        <a class="read-button" [routerLink]="['/blog-detail']">Read more</a>
        <ion-icon name="arrow-forward-outline" class="icon-read-more"></ion-icon>
      </ion-row>
    </ion-card>
  </ion-row>
</ion-col>