<ion-content [fullscreen]="true" *ngIf="product">
  <ion-card>
    <ion-row class="ion-justify-content-center">
      <img class="img-sale" src="../../../../assets/iconSale.png" />
      <!-- <ion-text class="text-sale">SALE!</ion-text> -->
      <img [src]="product.imageUrl" />
    </ion-row>
    <ion-card-header class="pb-0">
      <ion-row>
        <ion-card-subtitle>{{product.name}}</ion-card-subtitle>
        <ion-col class="col-price">
          <ion-card-title class="original-price">$ {{product.originalPrice}} avg/ea</ion-card-title>
          <ion-card-title>$ {{product.price}} avg/ea</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-text class="text-unitCapitity">{{product.unitCapitity}} lb </ion-text> | <ion-text
            class="text-unitPrice">${{product.unitPrice}}/lb </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-icon class="icon-location" name="location-outline"></ion-icon>
          <ion-text class="address">{{product.address}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-button (click)="addProduct(product)">{{
        product.added ? 'Added' : 'Add' }}</ion-button>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-text class="promo">{{product.promotions}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- About this product -->
  <ion-row class="ion-justify-content-center">
    <ion-text class="text-aboutProduct">About this product</ion-text>
  </ion-row>
  <ion-card>
    <ion-row>
      <ion-col class="col-block">
        <ion-item (click)="toggleDropdown()">
          <ion-label class="label-text">Lifestyle Focus</ion-label>
          <ion-icon [name]="isDropdownOpen ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-col class="ml-12" *ngIf="isDropdownOpen">
          <ion-button (click)="addSugar(product)">{{
            product.addedSugar ? 'No Added Sugar' : 'Added Sugar' }}
          </ion-button>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-block">
        <ion-item (click)="toggleDropdownNutrition()">
          <ion-label class="label-text">Ingredients & Nutrition</ion-label>
          <ion-icon [name]="isDropdownOpenNutrition ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-col class="ml-12" *ngIf="isDropdownOpenNutrition">
          <img src="../../../../assets/Nutrition Facts.png">
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-block">
        <ion-item (click)="toggleDropdownProductInfor()">
          <ion-label class="label-text">Product Information</ion-label>
          <ion-icon [name]="isDropdownOpenProductInfor ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-col class="col-block ml-12" *ngIf="isDropdownOpenProductInfor">
          <ion-text class="textProductInfor">UPC: {{product.Upc}}</ion-text>
          <ion-text class="col-block textProductInfor">Description: {{product.Descriptions}}</ion-text>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-block">
        <ion-item (click)="toggleDropdownDisclaimer()">
          <ion-label class="label-text">Disclaimer</ion-label>
          <ion-icon [name]="isDropdownOpenDisclaimer ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <ion-col class="col-block ml-12" *ngIf="isDropdownOpenDisclaimer">
          <ion-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum
            neque
            dictum,
            ultricies justo eu, tincidunt magna. Nunc feugiat leo at ligula sagittis, sit amet consequat justo luctus.
            Mauris eget venenatis neque, et scelerisque...</ion-text>
          <ion-text class="text-readMore">Readmore</ion-text>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- <app-checkout-icon></app-checkout-icon> -->
</ion-content>