<ion-header [translucent]="true">
  <ion-toolbar style="height: 50px;">
    <ion-buttons slot="start">
        <ion-back-button text="" icon="arrow-back-outline" defaultHref="login"></ion-back-button>
      </ion-buttons>
    <ion-title class="ion-justify-content-center">Sign Up</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password" ngModel
              required></ion-input>
            <ion-icon slot="end" name="eye" *ngIf="showPassword" (click)="togglePasswordVisibility()"></ion-icon>
            <ion-icon slot="end" name="eye-off" *ngIf="!showPassword" (click)="togglePasswordVisibility()"></ion-icon>
          </ion-item>
          <ion-row class="ion-justify-content-center ion-margin">
            <ion-text> Password must be more than 8 characters and <br> have 1 letter, 1 number and a special character
              (@, $, !, %, *, #, ?, &amp;) </ion-text>
          </ion-row>
          <ion-item>
            <ion-input name="confirm-password" type="text" placeholder="Confirm Password" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="phone" type="tel" placeholder="Mobile Phone" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="first-name" type="text" placeholder="Frist Name" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="last-name" type="text" placeholder="Last Name" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="address" type="text" placeholder="Address" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="city" type="text" placeholder="City" ngModel required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col><ion-item>
                <ion-input name="state" type="text" placeholder="State" ngModel required></ion-input>
              </ion-item></ion-col>
            <ion-col><ion-item>
                <ion-input name="zip" type="text" placeholder="Zip" ngModel required></ion-input>
              </ion-item></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="button-login">
        <ion-button [disabled]="form.invalid" color="medium" type="submit" expand="block" (click)="signup()">Sign Up</ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>