<ion-header [translucent]="true">
  <ion-toolbar style="height: 50px;">
    <ion-buttons slot="start">
        <ion-back-button text="" icon="caret-back" defaultHref="/more"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-justify-content-center">Chính sách mua hàng</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <h1><ion-icon name="accessibility-outline"></ion-icon>Đối tượng áp dụng</h1>
    <p>Chính sách này áp dụng cho tất cả khách hàng có nhu cầu mua rượu, bia trực tuyến trên ứng dụng của BIC.</p>

    <h1><ion-icon name="checkmark-circle-outline"></ion-icon>Điều kiện mua hàng</h1>
    <ol>
      <li>Khách hàng phải là người có đầy đủ năng lực hành vi dân sự theo quy định của pháp luật Việt Nam.</li>
      <li>Khách hàng phải cung cấp đầy đủ và chính xác các thông tin cá nhân khi đăng ký tài khoản trên ứng dụng.</li>
      <li>Khách hàng phải chấp nhận và tuân thủ các quy định của pháp luật về kinh doanh rượu, bia và chính sách mua hàng của ứng dụng.</li>
    </ol>

    <h1><ion-icon name="hourglass-outline"></ion-icon>Quy trình mua hàng</h1>
    <ol>
      <li>Khách hàng truy cập vào ứng dụng và lựa chọn sản phẩm rượu, bia muốn mua.</li>
      <li>Khách hàng kiểm tra thông tin sản phẩm, số lượng, giá cả và phương thức thanh toán.</li>
      <li>Khách hàng thêm sản phẩm vào giỏ hàng và tiến hành thanh toán.</li>
      <li>Sau khi thanh toán thành công, khách hàng sẽ nhận được cuộc gọi từ nhân viên xác nhận đơn hàng.</li>
    </ol>

    <h1><ion-icon name="checkmark-circle-outline"></ion-icon>Giá cả và phương thức thanh toán</h1>
    <ul>
      <li>Giá cả của sản phẩm rượu, bia được niêm yết trên ứng dụng.</li>
      <li>Khách hàng có thể thanh toán bằng tiền mặt, thẻ ngân hàng hoặc các hình thức thanh toán khác theo quy định của ứng dụng.</li>
    </ul>

    <h1><ion-icon name="train-outline"></ion-icon>Giao hàng</h1>
    <ul>
      <li>Phí giao hàng sẽ được tính theo quy định của ứng dụng.</li>
    </ul>

    <h1><ion-icon name="trail-sign-outline"></ion-icon>Đổi trả hàng</h1>
    <ul>
      <li>Khách hàng có thể đổi trả hàng trong vòng 7 ngày kể từ ngày nhận hàng nếu sản phẩm không đúng với thông tin trên ứng dụng hoặc bị lỗi do nhà sản xuất.</li>
      <li>Chi phí đổi trả hàng sẽ do ứng dụng chịu.</li>
    </ul>

    <h1><ion-icon name="call-outline"></ion-icon>Giải quyết khiếu nại</h1>
    <ul>
      <li>Mọi thắc mắc, khiếu nại của khách hàng sẽ được giải quyết trong vòng 7 ngày làm việc kể từ ngày nhận được khiếu nại.</li>
      <li>Khách hàng có thể gửi khiếu nại qua email, điện thoại hoặc trực tiếp tại trụ sở của ứng dụng.</li>
    </ul>

    <h1><ion-icon name="bulb-outline"></ion-icon>Quy định khác</h1>
    <ul>
      <li>Ứng dụng có quyền thay đổi, bổ sung chính sách mua hàng này bất kỳ lúc nào mà không cần thông báo trước.</li>
      <li>Trong trường hợp có tranh chấp, khiếu nại phát sinh từ việc mua bán rượu, bia trực tuyến trên ứng dụng, hai bên sẽ giải quyết trên cơ sở tôn trọng pháp luật Việt Nam.</li>
    </ul>

    <h1><ion-icon name="bulb-outline"></ion-icon>Lưu ý</h1>
    <ul>
      <li>Đối với sản phẩm rượu có nồng độ cồn từ 15 độ trở lên, ứng dụng chỉ giao hàng cho khách hàng từ 18 tuổi trở lên.</li>
      <li>Khách hàng có trách nhiệm kiểm tra kỹ sản phẩm trước khi nhận hàng. Nếu phát hiện sản phẩm bị hư hỏng, thiếu sót, khách hàng có quyền từ chối nhận hàng.</li>
      <li>Ứng dụng sẽ không chịu trách nhiệm nếu khách hàng không nhận được hàng do cung cấp sai địa chỉ hoặc thông tin liên hệ không chính xác.</li>
    </ul>
  </ion-content>
</ion-content>

