// Màu chủ đạo
$primary-color: #3498db;
$background-color: #ecf0f1;
$text-color: #333;


ion-toolbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

ion-title {
  color: black;
}

ion-back-button {
  color: black;
}

ion-content {
  background-color: $background-color;
  padding: 20px;

  h1 {
    color: $text-color;
    font-size: 1.5em;
    margin-top: 20px;
    display: flex;
    align-items: center;

    ion-icon {
      margin-right: 2px;
    }
  }

  p {
    line-height: 1.5;
    margin-bottom: 15px;
    color: $text-color;
    margin-left: 10px;
  }

  ol, ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }
}

// Tùy chỉnh phần danh sách số
ol {
  list-style-type: decimal;
}

// Tùy chỉnh màu cho hyperlink
a {
  color: $primary-color;
}

// Tùy chỉnh màu cho đường kẻ dưới của hyperlink khi di chuột qua
a:hover {
  text-decoration: underline;
}
