<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lịch sử đặt hàng</ion-title>
    <ion-buttons slot="start" (click)="Back()">
      <ion-icon size="large" icon="caret-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
      <ion-row class="headerTable">
        <ion-col size="2"><strong>ID</strong></ion-col>
        <ion-col size="3"><strong>Thời gian</strong></ion-col>
        <ion-col ><strong>Tổng giá</strong></ion-col>
        <ion-col size="3"><strong>Trang thái</strong></ion-col>
      </ion-row>

    <ion-row *ngFor="let item of infoHistory" class="row-with-border" (click)="navigateDetailHistory(item)">
      <ion-col size="2">{{ item.id }}</ion-col>
      <ion-col size="3">{{ item.attributes.createdAt | date:'dd/MM/yyyy'}}</ion-col>
      <ion-col>{{ item.attributes.TotalPrice | number:'1.0-0'}}₫</ion-col>
      <ion-col class="statusCustom" [ngStyle]="{'color': item.attributes.Status === 'Huỷ' ? 'red' : item.attributes.Status === 'Hoàn thành' ? 'green' : '#D0D824' }" size="3">{{ item.attributes.Status }}<ion-icon name="chevron-forward-outline" ></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
