<ion-header>
  <ion-toolbar>
    <ion-title>Danh sách sản phẩm</ion-title>
    <ion-buttons slot="start" (click)="Back()">
      <ion-icon size="large" icon="caret-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="6" *ngFor="let item of productData" class="bg-content">
      <!-- Fix lỗi click add bị vô luôn detail product  -->
      <ion-card (click)="navigateToProductDetail(item)">
        <ion-row>
          <ion-col class="ion-justify-content-center product">
            <img alt="{{item.ProductImage}}" [src]="item.ProductImage" />
          </ion-col>
        </ion-row>
        <ion-card-header>
          <ion-text class="price">{{item.CurrentPrice | number:'1.0-0'}} ₫</ion-text>
          <ion-text class="product-name fix-2-row">{{item.ProductName}}</ion-text>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <ion-text>{{item.UnitCapitity}}ml</ion-text>
            <ion-text>{{item.UnitPrice | number:'1.0-0'}} ₫/lb</ion-text>
          </ion-row>
          <ion-row class="ion-align-items-center add">
            <ion-button *ngIf="!isProductInCart(item.ProductId)" (click)="addProduct($event,item)" class="btn" size="small" color="primary">Thêm</ion-button>
            <ion-button *ngIf="isProductInCart(item.ProductId)" (click)="cancelProduct($event,item)" class="btn" size="small" color="primary">Huỷ</ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>