<ion-header>
  <ion-toolbar class="header">
    <ion-title *ngIf="checkItemsCart">Cart: ${{subTotal() + tax}}<ion-text
        style="font-size: 12px;font-weight: 300"><br />
        {{numberOfItems}} Item</ion-text>
    </ion-title>
    <ion-title *ngIf="!checkItemsCart">Cart<ion-text style="font-size: 12px;font-weight: 300"><br />
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="cartCardOrder">
    <ion-card-title class="cartTitleOrder colorText">
      Order Placed At:
    </ion-card-title>
    <ion-item lines="none" class="colorText">
      <ion-label class="ion-text-wrap" *ngIf="currentStore">
        <h2>
          <p class="cartSubTitleOrder" *ngIf="currentStore">{{ currentStore.name }}</p>
          <p style="font-size: 13px;" *ngIf="currentStore">{{ currentStore.address }}</p>
        </h2>
      </ion-label>
      <ion-label class="ion-text-wrap" *ngIf="!currentStore">
        <h2>
          <p class="cartSubTitleOrder">Updating Store...</p>
          <p style="font-size: 13px;">Sorry About That</p>
        </h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card style="border-radius: 0;">
    <ion-card-title class="cartTitleCAC">
      Product Items
    </ion-card-title>
    <!-- List of products in the shopping cart -->
    <ng-container *ngIf="checkItemsCart; else notItem">
      <ion-card-content *ngFor="let prod of getCartDetails">
        <ion-item class="paddingCartCAC">
          <ion-thumbnail slot="start" style="margin-right: 8px;">
            <img alt={{prod.name}} src="{{prod.imageUrl}}" />
          </ion-thumbnail>
          <ion-label class="cartCACName ion-text-wrap colorTextProd">
            {{prod.name}}
            <ion-label>
              <p class="cartCACPrice colorTextProd">${{prod.originalPrice}}.00</p>
            </ion-label>
          </ion-label>
          <div class="wrapper" style="margin-top: -40px">
            <ion-button class="btnDec" (click)="decProduct(prod)"><ion-icon
                name="remove-outline"></ion-icon></ion-button>
            <ion-text class="cartQuantity">{{prod.productQuantityAddDefault}}</ion-text>
            <ion-button class="btnInc" (click)="incProduct(prod)"><ion-icon name="add-outline"></ion-icon></ion-button>
          </div>
        </ion-item>
        <ion-row class="cartCACViewDetail colorTextProd ion-justify-content-between ion-align-items-center">
          <ion-col>
            <ion-input style="font-size: 12px;" placeholder="Add note..."></ion-input>
          </ion-col>
          <ion-col>
            <div class="">$ {{prod.originalPrice * prod.productQuantityAddDefault}}.00</div>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-item style="font-weight: 700;" lines="none" class="colorText">
        Discount
      </ion-item>
      <ion-item class=" cartCACAddPromo" lines="none">
        <ion-button id="open-modal-promo" style="color: var(--ion-color-medium);">
          {{message}}
          <ion-icon name="add-outline">
          </ion-icon>
        </ion-button>

        <!-- Modal for promo code add  -->
        <ion-modal #modal trigger="open-modal-promo" class="ionModal " (willDismiss)="onWillDismiss($event)">
          <ng-template class="containerPromo">
            <ion-toolbar class="toolBarPromo">
              <ion-buttons slot="end" color="light" (click)="cancel()" class="close-icon"><ion-icon
                  name="close-outline"></ion-icon></ion-buttons>
            </ion-toolbar>
            <ion-col style=" display: contents;">
              <p class="pTitleAlertPromo">
                Enter Promo Code
              </p>
              <ion-input type="text" class="inpPromoCode" [(ngModel)]="name" autofocus="true" required="true">
              </ion-input>
              <ion-button (click)="confirm()" style="text-align: center;" class="btnTitleAlerPromo" [routerLink]="'./'"
                [disabled]="!checkInput()">
                SUBMIT
              </ion-button>
            </ion-col>
          </ng-template>
        </ion-modal>

      </ion-item>
    </ng-container>
    <ng-template #notItem>
      <img src="../../../assets/empty_cart.png" class="imageEmptyCart">
    </ng-template>
  </ion-card>
  <!-- Order Summary -->
  <ion-card class="cartCardOrder" *ngIf="checkItemsCart">
    <ion-card-title class="cartTitleCAC">
      Order Summary
    </ion-card-title>

    <ion-item lines="none" class="colorText">
      <ion-label>
        <h3>
          <ion-row class="ion-justify-content-between titleTotal">
            Total Items:
            <div>{{numberOfItems}}</div>
          </ion-row>
          <ion-row class="ion-justify-content-between cartCardSubOrder">
            Subtotal:
            <div>${{subTotal()}}.00</div>
          </ion-row>
          <ion-row class="ion-justify-content-between cartCardSubOrder">
            Tax:
            <div>${{tax}}</div>
          </ion-row>
          <ion-row style="margin-bottom: 20px;" class="ion-justify-content-between titleTotal">
            Order total:
            <div>${{subTotal() + tax}}</div>
          </ion-row>
        </h3>
      </ion-label>
    </ion-item>
  </ion-card>
  <ng-template *ngIf="!checkItemsCart"></ng-template>
  <!-- Notes for your order -->
  <ion-card class="cartCardOrder" *ngIf="checkItemsCart">
    <ion-card-title class="cartTitleOrder colorText">
      Notes for your Order
    </ion-card-title>
    <ion-item lines="none">
      <ion-input class="cartInput" placeholder="Special Instructions or notes 250 chracters limit.">
      </ion-input>
    </ion-item>
  </ion-card>
  <ng-template *ngIf="!checkItemsCart"></ng-template>
  <ion-grid [fixed]="true" class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-button class="ion-text-wrap colorText ion-text-start" [routerLink]="['/home']">Continue
          Shopping</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="btnCheckout colorText ion-text-center" [routerLink]="['/checkout-order']">CHECKOUT
        </ion-button>
      </ion-col>
      <ion-col class="ion-justify-content-center" style="display: flex;">
        <ion-button id="open-modal-empty" class="ion-text-wrap colorText ion-text-end" [disabled]="!checkItemsCart">
          Empty Cart
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Modal Alert Delete Cart -->

  <ion-modal #modal trigger="open-modal-empty">
    <ng-template class="container">
      <ion-toolbar>
        <ion-buttons slot="end" color="light" (click)="modal.dismiss()" class="close-icon"><ion-icon
            name="close-outline"></ion-icon></ion-buttons>
      </ion-toolbar>
      <ion-col style="text-align: center; display: contents;">
        <ion-row class="ion-justify-content-center">
          <ion-icon name="warning-outline" class="warning-icon"></ion-icon>
        </ion-row>
        <p class="pTitleAlert">
          Are you sure, you want to delete all items from your cart?
        </p>
        <ion-button style="text-align: center;" class="btnTitleAlert" (click)="delProduct()" [routerLink]="'./'">
          YES
        </ion-button>
      </ion-col>
    </ng-template>
  </ion-modal>
</ion-content>