<ion-header>
  <ion-toolbar class="header">
    <ion-title *ngIf="productOrdered.length > 0">Giỏ hàng
      <ion-text  style="font-size: 12px;font-weight: 300">
        <br />
        {{productOrdered.length}} sản phẩm
      </ion-text>
    </ion-title>
    <ion-title *ngIf="productOrdered.length === 0">Giỏ hàng trống</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="cartCardOrder">
    <ion-card-title class="cartTitleOrder colorText">
      Nơi đặt hàng:
    </ion-card-title>
    <ion-item lines="none" class="colorText">
      <ion-label class="ion-text-wrap" *ngIf="currentStore">
        <h2>
          <p class="cartSubTitleOrder" *ngIf="currentStore">{{ currentStore.StoreName }}</p>
          <p style="font-size: 13px;" *ngIf="currentStore">{{ currentStore.StoreAddress }}</p>
        </h2>
      </ion-label>
      <ion-label class="ion-text-wrap" *ngIf="!currentStore">
        <h2>
          <p class="cartSubTitleOrder">Đang cập nhật...</p>
        </h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card style="border-radius: 0;">
    <ion-card-title class="cartTitleCAC">
      Các sản phẩm
    </ion-card-title>
    
    <!-- List of products in the shopping cart -->
    <!-- <ng-container *ngIf="!checkUser()">
      <ng-container *ngIf="checkItemsCart; else notItem">
    
        <ion-card-content *ngFor="let prod of productOrdered">
          <ion-item class="paddingCartCAC">
            <ion-thumbnail slot="start" style="margin-right: 8px;">
              <img alt={{prod.ProductName}} src="{{prod.ProductImage}}" />
            </ion-thumbnail>
            <ion-label class="cartCACName ion-text-wrap colorTextProd">
              {{prod.ProductName}}
              <ion-label>
                <p class="cartCACPrice colorTextProd">{{prod.ProductPrice | number:'1.0-0'}} ₫</p>
              </ion-label>
            </ion-label>
            <div class="wrapper" style="margin-top: -40px">
              <ion-button class="btnDec" (click)="decProduct(prod)"><ion-icon name="remove-outline"></ion-icon></ion-button>
              <ion-text class="cartQuantity">{{prod.productQuantityAddDefault}}</ion-text>
              <ion-button class="btnInc" (click)="incProduct(prod)"><ion-icon name="add-outline"></ion-icon></ion-button>
            </div>
          </ion-item>
          <ion-row class="cartCACViewDetail colorTextProd ion-justify-content-between ion-align-items-center">
            <ion-col>
              <ion-input style="font-size: 12px;" placeholder="Ghi chú..."></ion-input>
            </ion-col>
            <ion-col>
              <div class="">{{prod.ProductPrice * prod.productQuantityAddDefault | number:'1.0-0'}} ₫</div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      
         <ion-item style="font-weight: 700;" lines="none" class="colorText">
          Mã giảm giá
        </ion-item>
        <ion-item class=" cartCACAddPromo" lines="none">
          <ion-button id="open-modal-promo" style="color: var(--ion-color-medium);">
            {{message}}
            <ion-icon name="add-outline">
            </ion-icon>
          </ion-button>
        </ion-item> -->
      <!-- </ng-container>
      <ng-template #notItem>
        <img src="../../../assets/empty_cart.png" class="imageEmptyCart">
      </ng-template>
    </ng-container>  -->

    <!-- List of products in the shopping cart API-->
    <ng-container >
      <ng-container *ngIf="productOrdered.length > 0; else notItemAPI">
        <ion-card-content *ngFor="let prod of productOrdered">
          <ion-item class="paddingCartCAC">
            <ion-thumbnail slot="start" style="margin-right: 8px;">
              <img alt={{prod.attributes.ProductName}} src="{{prod.attributes.ProductImage}}" />
            </ion-thumbnail>
            <ion-label class="cartCACName ion-text-wrap colorTextProd">
              {{prod.attributes.ProductName}}
              <ion-label>
                <p class="cartCACPrice colorTextProd">{{prod.attributes.ProductPrice | number:'1.0-0'}} ₫</p>
              </ion-label>
            </ion-label>
            <div class="wrapper" style="margin-top: -40px">
              <ion-button class="btnDec" (click)="decProductAPI(prod)"><ion-icon
                  name="remove-outline"></ion-icon></ion-button>
              <ion-text class="cartQuantity">{{prod.attributes.productQuantityAddDefault}}</ion-text>
              <ion-button class="btnInc" (click)="incProductAPI(prod)"><ion-icon name="add-outline"></ion-icon></ion-button>
            </div>
          </ion-item>
          <ion-row class="cartCACViewDetail colorTextProd ion-justify-content-between ion-align-items-center">
            <ion-col>
              <div class="">{{prod.attributes.ProductPrice * prod.attributes.productQuantityAddDefault | number:'1.0-0'}} ₫
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <!-- <ion-item style="font-weight: 700;" lines="none" class="colorText">
          Mã giảm giá
        </ion-item> -->
        <!-- <ion-item class=" cartCACAddPromo" lines="none">
          <ion-button id="open-modal-promo" style="color: var(--ion-color-medium);">
            {{message}}
            <ion-icon name="add-outline">
            </ion-icon>
          </ion-button>
        </ion-item> -->
      </ng-container>
      <ng-template #notItemAPI>
        <img src="../../../assets/empty_cart.png" class="imageEmptyCart">
      </ng-template>
    </ng-container>
  </ion-card>
  <!-- Order Summary -->
<!-- <ng-container *ngIf="!checkUser()">
  <ion-card class="cartCardOrder" *ngIf="checkItemsCart">
    <ion-card-title class="cartTitleCAC">
      Tổng đơn hàng
    </ion-card-title>
    <ion-item lines="none" class="colorText">
      <ion-label>
        <h3>
          <ion-row class="ion-justify-content-between titleTotal">
            Tổng sản phẩm:
            <div>{{numberOfItems}} item</div>
          </ion-row>
          <ion-row class="ion-justify-content-between cartCardSubOrder">
            Giá tiền:
            <div>{{subTotal() | number:'1.0-0'}} ₫</div>
          </ion-row>
          <ion-row class="ion-justify-content-between cartCardSubOrder">
            Thuế:
            <div>{{tax| number:'1.0-0'}} ₫</div>
          </ion-row>
          <ion-row style="margin-bottom: 20px;" class="ion-justify-content-between titleTotal">
            Tổng tiền:
            <div>{{subTotal() + tax | number:'1.0-0'}} ₫</div>
          </ion-row>
        </h3>
      </ion-label>
    </ion-item>
  </ion-card>
</ng-container> -->

  <!-- Order Summary API-->
  <ng-container >
    <ion-card class="cartCardOrder" *ngIf="productOrdered.length > 0">
      <ion-card-title class="cartTitleCAC">
        Tổng đơn hàng
      </ion-card-title>
      <ion-item lines="none" class="colorText">
        <ion-label>
          <h3>
            <ion-row class="ion-justify-content-between titleTotal">
              Tổng sản phẩm:
              <div *ngIf="productOrdered">{{productOrdered.length}} item</div>
            </ion-row>
            <ion-row class="ion-justify-content-between cartCardSubOrder">
              Giá tiền:
              <div>{{subTotalAPI() | number:'1.0-0'}} ₫</div>
            </ion-row>
            <ion-row class="ion-justify-content-between cartCardSubOrder">
              Thuế:
              <div>{{subTotalAPI() / 10 | number:'1.0-0'}} ₫</div>
            </ion-row>
            <ion-row style="margin-bottom: 20px;" class="ion-justify-content-between titleTotal">
              Tổng tiền:
              <div>{{subTotalAPI() + (subTotalAPI() / 10) | number:'1.0-0'}} ₫</div>
            </ion-row>
          </h3>
        </ion-label>
      </ion-item>
    </ion-card>
  </ng-container>
  <!-- Notes for your order -->
  <!-- <ion-card class="cartCardOrder" *ngIf="checkItemsCart">
    <ion-card-title class="cartTitleOrder colorText">
      Ghi chú đơn hàng
    </ion-card-title>
    <ion-item lines="none">
      <ion-input class="cartInput" placeholder="Vui lòng ghi chú không quá 250 kí tự....">
      </ion-input>
    </ion-item>
  </ion-card> -->
  <ng-template *ngIf="!checkItemsCart"></ng-template>
  <ion-row class="ion-text-center">
    <ion-col>
      <!-- Button payment -->
    <!-- <ng-container *ngIf="!checkUser()">
      <ion-button id="openModalPay" class="btnCheckout colorText ion-text-center" [disabled]="!checkItemsCart">
        Tiến hành thanh toán
      </ion-button>
    </ng-container> -->
    
       <!-- Button payment API -->
       <ng-container >
        <ion-button (click)="orderedClick()" [routerLink]="['/checkout-order']" class="btnCheckout colorText ion-text-center" [disabled]="!productOrdered.length">
          Tiến hành thanh toán
        </ion-button>
       </ng-container>
    </ion-col>
  </ion-row>

  <!-- <ion-modal #modal trigger="openModalPay" class="ion-modal-pay">
    <ng-template class="container">
      <ion-toolbar>
        <ion-buttons slot="end" color="light" (click)="modal.dismiss()" class="close-icon"><ion-icon
            name="close-outline"></ion-icon></ion-buttons>
      </ion-toolbar>
      <ion-col style="text-align: center; display: contents;">
        <p class="pTitleAlert">
          Vui lòng đăng nhập để tiến hành thanh toán
        </p>
        <ion-button style="text-align: center;" class="btnTitleAlert" (click)="checkout()">
          Đăng nhập
        </ion-button>
      </ion-col>
    </ng-template>
  </ion-modal> -->


  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button class="ion-text-wrap colorText ion-text-start" [routerLink]="['/home']">Quay về</ion-button>
    </ion-col>
    <ion-col class="ion-justify-content-center" style="display: flex;">
      <!-- <ng-container *ngIf="!checkUser()">
        <ion-button id="open-modal-empty" class="ion-text-wrap colorText ion-text-end" [disabled]="!checkItemsCart">
          Xóa tất cả
        </ion-button> -->
        <!-- Modal Confirm Delete All Product -->
        <!-- <ion-modal #modal trigger="open-modal-empty" class="ion-modal-pay">
          <ng-template class="container">
            <ion-toolbar>
              <ion-buttons slot="end" color="light" (click)="modal.dismiss()" class="close-icon"><ion-icon
                  name="close-outline"></ion-icon></ion-buttons>
            </ion-toolbar>
            <ion-col style="text-align: center; display: contents;">
              <ion-row class="ion-justify-content-center">
                <ion-icon name="warning-outline" class="warning-icon"></ion-icon>
              </ion-row>
              <p class="pTitleAlert">
                Bạn có muốn xóa tất cả bên trong giỏ hàng?
              </p>
              <ion-button style="text-align: center;" class="btnTitleAlert" (click)="delAllProduct()" [routerLink]="'./'">
                Đồng ý
              </ion-button>
            </ion-col>
          </ng-template>
        </ion-modal> -->
      <!-- </ng-container> -->
      
      <ng-container >
        <ion-button id="open-modal-empty" class="ion-text-wrap colorText ion-text-end" [disabled]="!productOrdered.length">
          Xóa tất cả
        </ion-button>
        <!-- Modal Confirm Delete All Product API-->
        <ion-modal #modal trigger="open-modal-empty" class="ion-modal-pay">
          <ng-template class="container">
            <ion-toolbar>
              <ion-buttons slot="end" color="light" (click)="modal.dismiss()" class="close-icon"><ion-icon
                  name="close-outline"></ion-icon></ion-buttons>
            </ion-toolbar>
            <ion-col style="text-align: center; display: contents;">
              <ion-row class="ion-justify-content-center">
                <ion-icon name="warning-outline" class="warning-icon"></ion-icon>
              </ion-row>
              <p class="pTitleAlert">
                Bạn có muốn xóa tất cả bên trong giỏ hàng?
              </p>
              <ion-button style="text-align: center;" class="btnTitleAlert" (click)="delAllProductAPI()" [routerLink]="'./'">
                Đồng ý
              </ion-button>
            </ion-col>
          </ng-template>
        </ion-modal>
      </ng-container>
      
      
    </ion-col>
  </ion-row>

 <!-- Modal for promo code add  -->
 <!-- <ion-modal #modal trigger="open-modal-promo" class="ionModal " (willDismiss)="onWillDismiss($event)">
  <ng-template class="containerPromo">
    <ion-toolbar class="toolBarPromo">
      <ion-buttons slot="end" color="light" (click)="cancel()" class="close-icon"><ion-icon
          name="close-outline"></ion-icon></ion-buttons>
    </ion-toolbar>
    <ion-col style=" display: contents;">
      <p class="pTitleAlertPromo">
        Nhập mã giảm giá
      </p>
      <ion-input type="text" class="inpPromoCode" [(ngModel)]="name" autofocus="true" required="true">
      </ion-input>
      <ion-button (click)="confirm()" style="text-align: center;" class="btnTitleAlerPromo" [routerLink]="'./'"
        [disabled]="!checkInput()">
        OK
      </ion-button>
    </ion-col>
  </ng-template>
</ion-modal> -->


</ion-content>