ion-modal {
    --width: 78%;
    --height: 40%;
    --border-radius: 13px;
}

ion-modal ion-toolbar {
    --background: white !important;
    color: black;
}

ion-button {
    --background: none;
    --background-hover: none;
    --background-activated: none;
    color: var(--ion-color-danger);
    font-weight: bolder;
    font-size: smaller;
}

ion-checkbox {
    --size: 17px;
    --checkmark-width: 0px;
    --border-width: 1px;
    --border-color: black;
    --border-color-checked: black;
    --checkbox-background-checked: var(--ion-color-primary);
}

ion-thumbnail {
    --size: 70px;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    height: 50px;
}

.close-icon {
    font-size: 30px;
    color: var(-ion-color-success-contrast);
}

.warning-icon {
    font-size: 100px;
    color: var(--ion-color-warning);
}

.colorText {
    color: var(--ion-color-primary);
}

.colorTextProd {
    color: var(--ion-color-dark);
}

.cartCardOrder {
    border-radius: 0px;

    h2 {
        color: var(--ion-color-dark);
    }

    .cartTitleOrder {
        font-size: 17px;
        padding: 10px;
        margin-bottom: -10px;
    }

    .cartCardSubOrder {
        font-weight: 700;
        margin-bottom: 4px;
        color: var(--ion-color-medium-shade);
    }

    .titleTotal {
        font-weight: 700;
        margin-bottom: 4px;
    }

    .cartSubTitleOrder {
        font-size: 13px;
        font-weight: 800;
    }
}

.cartTitleCAC {
    background-color: var(--ion-color-primary);
    font-size: 17px;
    padding: 7px;
    color: var(--ion-color-primary-contrast);

}

.paddingCartCAC {
    --padding-start: 0;
    margin-top: -10px;

    .cartCACName {
        font-size: 13px;
        font-weight: 700;

        .cartCACPrice {
            font-weight: 700;
        }
    }
}

.cartCACViewDetail {
    width: 100%;
    margin-left: 85px;
    font-size: 14px;
    margin-top: 10px;
}

.cartCACAddPromo {
    margin-top: -15px;
    margin-left: -7px;
    font-size: 12px;
}

ion-input.cartInput {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    font-size: 12px;
    --padding-bottom: 50px;
    --padding-end: 30px;
    --padding-top: 10px;
    --padding-start: 30px;

}

.btnCheckout {
    border: 1px solid;
    border-radius: 20px;
    font-weight: 800;
    background-color: var(--ion-color-primary-contrast) !important;

}

.wrapper {
    margin-top: 10px;
    border: 1px solid;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-dark);

    ion-icon {
        position: absolute;
    }
}

.btnInc,
.btnDec,
.cartQuantity {
    font-size: 13px;
    text-align: center;
    font-weight: 900;
    width: 30px;
    color: var(--ion-color-dark);
    width: 20px;
}

.imageEmptyCart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

// Alert Modal
.container {
    background: var(--ion-color-primary-contrast) !important;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnTitleAlert {
    margin-left: 15%;
    width: 70%;
    font-weight: 600;
    background-color: var(--ion-color-primary);
    text-align: center;
    color: var(--ion-color-primary-contrast);
    border-radius: 5px;
    margin-bottom: 20px;
}

.warning {
    margin-bottom: 20px;
    height: 30%;
}

.h3TitleAlert {
    font-weight: 300;
    margin-top: -20px;
    text-align: center;
}

.pTitleAlert {
    font-weight: 300;
    font-size: 15px;
}