<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-justify-content-center">Danh Mục</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row *ngIf="tags">
    <ion-col size="6" *ngFor="let tag of productTag">
      <ion-card>
        <a [routerLink]="['/department/department-result', tag.DepartmentName]">
          <ion-col>
            <ion-row class="product-img">
              <img alt="{{tag.DepartmentImage}}" [src]="tag.DepartmentImage" />
            </ion-row>
            <p class="title ion-text-center">{{tag.DepartmentName}}</p>
          </ion-col>
        </a>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="ion-justify-content-center">
    <a [routerLink]="['/department/department-result', 'All']">All Product</a>
  </ion-row> -->
</ion-content>