body {
    font-family: ui-sans-serif !important;
}
.product-img {
    display: flex;
    justify-content: center;
    height: 80px;

    img {
        max-width: 40%;
    }
}

.title {
    font-weight: 900;
}

a {
    text-decoration: none;
}
