<ion-header>
  <ion-row>
    <ion-col>
      <img class="logo" src="../../assets/icon/bIc.png" alt="Logo BIC">
    </ion-col>
    <ion-col class="navigator-search">
      <a [routerLink]="['/search-product']">
        <ion-icon name="search-outline" class="search">
        </ion-icon>
      </a>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center store" *ngIf="currentStore">
    <ion-icon name="storefront-outline" class="icon-address"></ion-icon>
    <p class="store-title" *ngIf="currentStore">{{ currentStore.name }}<br>
      {{ currentStore.address }}</p>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center store" *ngIf="!currentStore">
    <ion-icon name="hourglass-outline" class="icon-address"></ion-icon>
    <p class="store-title">Updating Store...<br>
      Sorry About That</p>
  </ion-row>
  <ion-row class="title-hello" *ngIf="user">
    <p class="hi-name" *ngIf="user.username">Hi, {{user.username}}!</p>
    <p class="hi-name" *ngIf="!user.username">Hi, there!</p>
  </ion-row>
  <ion-row class="title-hello" *ngIf="!user">
    <p class="hi-name" [routerLink]="['/login']">Click here to login</p>
  </ion-row>
</ion-header>

<ion-content>
  <app-news></app-news>
  <app-winegroup></app-winegroup>
  <app-product-list></app-product-list>
  <app-blogs></app-blogs>
</ion-content>