<ion-header>
  <ion-row>
    <ion-col>
    <img class="logo" src="../../assets/icon/bIc.png" alt="" >
  </ion-col>
  <ion-col class="navigator-search">
    <a [routerLink]="['/search-product']">
      <ion-icon name="search-outline" class="search" >
        </ion-icon>
        </a>
      </ion-col>
  </ion-row>
  <ion-row class="store">
     <ion-icon name="chevron-forward-outline" class="icon-address"></ion-icon>
    <p class="store-title">Vanni Store<br>
     120 Phan Van Tri, Phuong 10, Quan Go Vap, TP HCM</p> 
    </ion-row>
 
  
  <ion-row class="title-hello">
      <p class="hi-name">Hi, Huy Tran!</p>
  </ion-row>
</ion-header>

<ion-content>
  <app-news></app-news>
  <app-product-list></app-product-list>
  <app-blogs></app-blogs>
</ion-content>