<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tìm kiếm sản phẩm</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-searchbar placeholder="nhập sản phẩm cần tìm..." (ionInput)="search($event)"></ion-searchbar>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content color="light">
    <a (click)="navigateToProductDetail(product)" *ngFor="let product of items">
      <ion-list [inset]="true" class="list-result" *ngIf="items.length > 0">
          <ion-item>
            <ion-label>{{ product.name }}</ion-label>
          </ion-item>
      </ion-list>
    </a>
  </ion-content>
</ion-content>

