a {
    font-size: 30px;
}

ion-back-button {
    --color: black;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
}

.bg-content {

    a {
        text-decoration: none;
    }

    .product {
        display: flex;

        img {
            width: 120px;
            height: 140px;
        }
    }

    .product-name {
        display: inline-block;
        font-size: 15px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .price {
        color: var(--ion-color-primary);
        font-weight: bolder;
        font-size: 20px;
        line-height: 1.75;
    }

    ion-chip {
        font-size: 10px;
    }

    ion-card-header {
        padding: 0 16px;
    }

    ion-card-content {
        padding: 0 16px;

        .add {
            display: block;

            ion-button {
                display: block;
            }
        }

        .btn {
            margin-top: 8px;
            margin-bottom: 15px
        }
    }
}

ion-toolbar {
    --background: var(--ion-color-primary-contrast);

    .titleFilter {
        font-size: x-large;
        opacity: 0.5;
        font-weight: 400;
    }

    .iconClose {
        color: var(--ion-color-light-contrast);
    }

}

.typeFilter {
    margin-left: 20px;
    color: var(--ion-color-success-shade);
}

.bar {
    background-color: var(--ion-color-medium);
    height: 1px;
    opacity: 0.7;
    width: 100%;
}

.btnSee {
    background-color: none;
    color: var(--ion-color-primary);
    font-size: smaller;
    font-weight: bold;
}

ion-checkbox {
    --size: 22px;
    --checkbox-background-checked: var(--ion-color-success-shade);
}

ion-checkbox::part(container) {
    border-radius: 1px;
    border: 1px solid var(--ion-color-success-shade);
}

.btnActionFilter {
    border-radius: 1px;
    font-size: medium;
    width: 150px;
}

.btnActionFilter {
    font-weight: 900;
    --border-radius: 2;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;

}

.btnReset {
    --background: var(--ion-color-primary-contrast);
    --color: var(--ion-color-primary);
    --border-color: var(--ion-color-primary);
    --background-hover: var(--ion-color-step-350);

}

.btnApply {
    --background: var(--ion-color-primary);
    ;
    --color: var(--ion-color-primary-contrast);
    --border-color: var(--ion-color-primary);
    --background-hover: var(--ion-color-step-350);

}

.centerBtn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}