<ion-header>
    <ion-row class="ion-justify-content-center">
      <img class="logo"
        src="https://vinncloud.relationshop.net/dxp-assetv2/2023071915183083_outputonlinepngtools_bacb0eb2-2b19-48f8-ae2d-3fb94ba8efbc.png"
        alt="">
    </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-toolbar>
      <a [routerLink]="['/search-product']">
        <ion-searchbar></ion-searchbar>
      </a>
    </ion-toolbar>
  </ion-row>
  <ion-row class="ion-float-right">
    <ion-col>
      Hi, Huy Tran
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
<app-checkout-icon></app-checkout-icon>
<app-product-list></app-product-list>
</ion-content>
