<ion-header [translucent]="true">
  <ion-toolbar style="height: 50px;">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-justify-content-center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row class="ion-justify-content-center ion-margin">
            <ion-row>
              <ion-label class="text-ok">That's OK!</ion-label>
            </ion-row>
            <ion-row class="ion-text-center ion-padding">
              <ion-text> We forget our passwords too! Please enter your email below and we will send you a link
                to reset your password. </ion-text>
            </ion-row>
          </ion-row>
          <ion-item [class.input-error]="form!.get('email')!.invalid && form!.get('email')!.touched">
            <ion-input formControlName="email" type="email" placeholder="your@email.com"></ion-input>
          </ion-item>
          <ion-row *ngIf="form?.get('email')?.invalid && form?.get('email')?.touched">
            <p style="color: red;" class="ion-no-margin ion-padding-bottom"> Email is not valid. </p>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="button-login">
        <ion-button color="primary" type="submit" expand="block" (click)="login()" [disabled]="form.invalid">Submit</ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>