<ion-header [translucent]="true">
    <ion-toolbar style="height: 50px;">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="caret-back" defaultHref="/more"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-justify-content-center">Hồ sơ cá nhân</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item *ngIf="user">
        <ion-label>
            <h3>Thông tin đăng nhập:</h3>
            <p>Email : {{user?.email}}</p>
            <p>Mật khẩu : **********</p>
            <p>Sinh nhật : {{user?.birthday}}</p>
            <p>Ngày tạo : {{ user?.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }} </p>
        </ion-label>
        <ion-button slot="end" class="accountBtn" id="open-modal-promo"> Thay đổi </ion-button>
    </ion-item>

    <ion-item>
        <ion-label>
            <h3>Thông tin liên lạc:</h3>
            <p>Họ và tên : {{user?.lastname}} {{user?.username}}</p>
            <p>Số điện thoại : {{user?.phone}}</p>
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
            <h3>Thông tin giao hàng:</h3>
            <p *ngIf="user.address">Địa chỉ : {{user?.address}}</p>
            <p *ngIf="!user.address">Vui lòng bổ sung thông tin</p>
        </ion-label>
    </ion-item>

    <ion-card>
        <ion-card-header>
            <ion-card-title><ion-icon name="people-circle-outline"></ion-icon> BIC 24/24</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Hãy liên hệ chúng tôi nếu bạn cần hỗ trợ <br> BIC Xin Cảm Ơn. <br>
            <div class="ion-margin-top ion-justify-content-center ion-align-items-center hotline"><strong>HOTLINE: 1900
                    67 65</strong> </div>
        </ion-card-content>
        <ion-col class="ion-justify-content-between ion-text-justify btn-sp">
            <ion-button fill="clear"><ion-icon name="headset-outline"></ion-icon>Liên Hệ</ion-button>
        </ion-col>
    </ion-card>

    <ion-modal #modal trigger="open-modal-promo" class="modalPromo">
        <ng-template class="containerPromo">
          <ion-toolbar class="toolBarPromo">
            <ion-buttons slot="end" color="light" (click)="cancel()" class="close-icon">
              <ion-icon name="close-outline"></ion-icon>
            </ion-buttons>
          </ion-toolbar>
      
          <form >
            <ion-list>
              <ion-item>
                <ion-label position="floating">Tên họ</ion-label>
                <ion-input type="text"  name="username">{{user?.lastname}}</ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Tên đầu</ion-label>
                <ion-input type="text"  name="username">{{user?.username}}</ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="floating">Số điện thoại</ion-label>
                <ion-input type="email"  name="email">{{user?.phone}}</ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Địa chỉ giao hàng</ion-label>
                <ion-input type="email"  name="email">{{user?.address}}</ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Mật khẩu hiện tại</ion-label>
                <ion-input type="email"  name="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Mật khẩu thay đổi</ion-label>
                <ion-input type="email"  name="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Xác nhận lại mật khẩu</ion-label>
                <ion-input type="email"  name="email"></ion-input>
              </ion-item>
      
            </ion-list>
            <ion-button expand="full" type="submit">Cập nhật</ion-button>
          </form>
        </ng-template>
      </ion-modal>
      
</ion-content>