<ion-header [translucent]="true">
    <ion-toolbar style="height: 50px;">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="caret-back" defaultHref="/more"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-justify-content-center">Hồ sơ cá nhân</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-label>
            <h3>Thông tin đăng nhập</h3>
            <p>Email: useremail20020222@gmail.com</p>
            <p>Sinh nhật: 01/07/2002</p>
            <p>Ngày tạo: </p>
        </ion-label>
        <ion-button [routerLink]="['/edit-account']" slot="end" class="accountBtn "> Thay đổi </ion-button>
    </ion-item>

    <ion-item>
        <ion-label>
            <h3>Thông tin liên lạc:</h3>
            <p>Họ và tên : Huy Tran</p>
            <p>Số điện thoại : 222-222-222</p>
        </ion-label>
        <ion-button [routerLink]="['/edit-contact']" slot="end"> Thay đổi </ion-button>
    </ion-item>

    <ion-item>
        <ion-label>
            <h3>Thông tin giao hàng</h3>
            <p>Địa chỉ: 123 Dương Quang Hàm, phường 12, quận Gò Vấp, TPHCM</p>
        </ion-label>
        <ion-button [routerLink]="['/edit-contact']" slot="end"> Thay đổi </ion-button>
    </ion-item>

    <ion-card>
        <ion-card-header>
            <ion-card-title><ion-icon name="people-circle-outline"></ion-icon> BIC 24/24</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Hãy liên hệ chúng tôi nếu bạn cần hỗ trợ <br> BIC Xin Cảm Ơn. <br>
            <div class="ion-margin-top ion-justify-content-center ion-align-items-center hotline"><strong>HOTLINE: 1900 67 65</strong> </div>
        </ion-card-content>
        <ion-col class="ion-justify-content-between ion-text-justify btn-sp">
            <ion-button fill="clear"><ion-icon
                name="headset-outline"></ion-icon> Liên Hệ</ion-button>
            <ion-button fill="clear"><ion-icon name="chatbox-ellipses-outline"></ion-icon> Chat Bot</ion-button>
        </ion-col>

    </ion-card>
    <!-- <ion-list>
        <ion-item>
            <ion-label>Tài khoản đăng nhập:
                <p>Email:</p>
                <p>useremail20020222@gmail.com</p>
            </ion-label>
            <ion-button [routerLink]="['/edit-account']" slot="end" class="accountBtn "> Thay đổi </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-toggle aria-label="Success toggle" color="success" [checked]="true"> Face ID </ion-toggle>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Thông tin liên lạc:
            </ion-label>
            <ion-item>
                <div>
                    <p>Họ và tên : Huy Tran</p>
                    <p>Số điện thoại : 222-222-222</p>
                </div>
            </ion-item>
            <ion-button [routerLink]="['/edit-contact']" slot="end"> Thay đổi </ion-button>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                Địa chỉ giao hàng:
            </ion-label>
            <ion-button [routerLink]="['/add-address']" slot="end"> Thêm Địa Chỉ </ion-button>
        </ion-item>
        <ion-item>
            <ion-label>
                <div>
                    <p>Vietnam</p>
                    <p>New York, CO 2299</p>
                </div>
            </ion-label>
            <ion-button [routerLink]="['/edit-address-book']" slot="end"> Thay đổi </ion-button>
            <ion-button slot="end" disabled="true"> Xóa </ion-button>
        </ion-item>
        <ion-row class="ion-justify-content-center">
            <ion-label class="bottomAccountText">Scan In Store</ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-img src="https://www.qrcode-gen.com/images/qrcode-default.png" alt="QR code">
            </ion-img>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-label class="bottomAccountText">Hotline tổng đài hỗ trợ BIC 24/24</ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-padding-bottom">
            <ion-label>1900 67 65</ion-label>
        </ion-row>
    </ion-list> -->
</ion-content>