<!-- your-component.component.html -->
<swiper-container [loop]="true" [speed]="1500" [autoplay]="{enable:true,delay:1500}" [slidesPerView]="1"
  [pagination]="{clickable:true, dynamicBullets:true}">
  <swiper-slide class="bg-content" *ngFor="let item of promoData">
    <ion-card>
      <div (click)="copyToClipboard($event, item.PromoId)">
        <img class="img" alt="{{item.PromoTitle}}" [src]="item.PromoImg" />
        <div class="title-promo">
          <p>{{item.PromoTitle}}</p>
        </div>
        <div class="recive-promo" id="promoText"><i>{{item.PromoId}}</i> <button
            (click)="copyToClipboard($event, item.PromoId)"><ion-icon name="copy-outline"></ion-icon></button></div>
      </div>
    </ion-card>
  </swiper-slide>
</swiper-container>