ion-card {
    box-shadow: 5px 8px 5px 5px var(--ion-color-medium);
}

img {
    height: 300px;
}

ion-card-title {
    font-size: 20px;
    color: var(--ion-color-primary);
    font-weight: bold;
    padding-bottom: 5px;
}

ion-card-subtitle {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: bold;
}

ion-button {
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin-top: 15px;
}

.origin-detail {
    width: auto;
    height: 100%;
    white-space: nowrap;
    display: inline-block;
    margin-left: -5px;
}

.text-cap-str {
    font-size: 15px;
    font-weight: 500;
}