img {
    height: 300px;
}

ion-card-title {
    font-size: 20px;
    color: red;
    font-weight: bold;
    padding-bottom: 5px;
}

ion-card-subtitle {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: bold;
}

ion-button {
    --ion-color-primary: #9b1f2f;
    display: flex;
    justify-content: center;
}

.origin-detail {
    width: auto;
    height: 100%;
    white-space: nowrap;
    display: inline-block;
    margin-left: -5px;
}

.text-cap-str {
    font-size: 15px;
    font-weight: 500;
}