<!--titleWinegroup-->
<ion-card-title class="title">
    Department
</ion-card-title>
<!--container-->
<ion-card-content class="content">
    <ion-col size="6" *ngFor="let item of tags">
        <a [routerLink]="['/department/department-result', item.name]">
            <ion-card>
                <ion-row class="product-img">
                    <img alt="{{item.name}}" [src]="item.imageUrlTag" />
                </ion-row>
            </ion-card>
            <p class="ion-text-center">{{item.name}}</p>
        </a>
    </ion-col>
</ion-card-content>