.ml-25 {
    margin-left: 25px;
}

.mr-25 {
    margin-right: 25px;
}

ion-back-button {
    padding-left: 10px;
    color: var(--ion-color-warning-contrast);
}

.row-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ion-label {
        text-transform: uppercase;
    }

    .input-contact {
        display: block;
        margin-top: 10px;
        background-color: var(--ion-color-light-shade);
        padding-left: 10px !important;
        border: 1px solid var(--ion-color-medium);

        .icon-down-sharp {
            position: absolute;
            margin-top: 10%;
            margin-left: 70%;
        }
    }
}

.col-custom {
    .checbox-custom {
        margin-left: 15px;
    }

    .text-custom {
        font-size: 16px;
        margin-left: -15px;
    }
}

.row-section {
    margin: 5px 0 0 0;
    padding: 0 25px;

    .link-custom {
        text-transform: none;
        text-decoration: none;
        color: var(--ion-color-tertiary);
    }

    .label-custom {
        text-transform: uppercase;
    }

    .input-section {
        display: block;
        margin-top: 10px;
        background-color: var(--ion-color-light-shade);
        padding-left: 10px !important;
        border: 1px solid var(--ion-color-medium);
    }

    .btn-save {
        background-color: var(--ion-color-primary);
        display: flex;
        justify-content: center;
        border-radius: 50px;
        margin: 15px 0;
    }
}