<ion-header [translucent]="true">
  <ion-toolbar style="height: 50px;">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back" defaultHref="account"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-justify-content-center">Edit Contact Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row-contact" style="margin-top: 10px;">
    <ion-col size="4">
      <ion-label>
        First Name
      </ion-label>
      <ion-input type="text" class="input-contact"></ion-input>
    </ion-col>
    <ion-col size="4">
      <ion-label>
        Last Name
      </ion-label>
      <ion-input type="text" class="input-contact"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row class="row-section">
    <ion-col>
      <ion-label class="label-custom">
        Address
      </ion-label>
      <ion-input type="text" class="input-section"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row class="row-contact">
    <ion-col size="3" class="ml-25">
      <ion-label class="label-custom">
        City
      </ion-label>
      <ion-input type="text" class="input-contact"></ion-input>
    </ion-col>
    <ion-col size="3">
      <ion-label class="label-custom">
        State
      </ion-label>
      <ion-input type="text" class="input-contact">
        <ion-icon class="icon-down-sharp" name="caret-down-sharp"></ion-icon>
      </ion-input>
    </ion-col>
    <ion-col size="3" class="mr-25">
      <ion-label>
        Zip code
      </ion-label>
      <ion-input type="number" class="input-contact"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row class="row-section">
    <ion-col>
      <ion-label class="label-custom">
        Mobile phone
      </ion-label>
      <ion-input class="input-section" [maskito]="phoneMask" [maskitoElement]="maskPredicate"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row class="row-section">
    <ion-col>
      <ion-label>
        <ion-button>Update</ion-button>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-content>