ion-button {
  --background: none;
  --background-hover: none;
  --background-activated: none;
  color: var(--ion-color-success-shade);
  font-weight: 600;
  font-size: smaller;
}

ion-back-button {
  color: var(--ion-color-warning-contrast);
}

ion-back-button {
  margin-left: 50%;
  margin-top: 20%;
}

.accountBtn {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.bottomAccountText {
  font-weight: bold;
  color: var(--ion-color-success-shade);
}