<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button text="" style="color: var(--ion-color-primary-contrast);" icon="close-outline"
        defaultHref="shopping-cart"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="cartCardOrder">
    <ion-card-title class="cartTitleOrder colorText">
      Order Placed At:
    </ion-card-title>
    <ion-item lines="none" class="colorText">
      <ion-label class="ion-text-wrap">
        <h2 class="titleNameStore">
          <p class="cartSubTitleOrder">Vani Store</p>
          <p style="font-size: 13px;">120 Phan Van Tri, Phuong 10, Q.Go Vap, TPHCM </p>
        </h2>
      </ion-label>
      <!-- <ion-button class="btn" slot="end"> EDIT </ion-button> -->
    </ion-item>
  </ion-card>
  <!-- Order Type: -->
  <ion-card class="cartCardOrder">
    <ion-card-title class="cartTitleOrder colorText">
      Order Type:
    </ion-card-title>
    <ion-checkbox [(ngModel)]="pickupChecked" (ionChange)="onCheckboxChange('pickup')" style="margin-left: 15px;
    margin-top: 10px;" class="cartSubTitleType colorText" labelPlacement="end">Pickup</ion-checkbox>
    <ion-item lines="none" class="colorText">
      <ion-checkbox slot="start" [(ngModel)]="deliveryChecked"
        (ionChange)="onCheckboxChange('delivery')"></ion-checkbox>
      <ion-label class="cartSubTitleType">Delivery</ion-label>

    </ion-item>
  </ion-card>
  <!-- Payment Method: -->
  <ion-card class="cartCardOrder">
    <ion-card-title class="cartTitleOrder colorText">
      <ion-row>
        <ion-button> Select time delivery </ion-button>
      </ion-row>
    </ion-card-title>
    <ion-card-content class="ion-padding-vertical" style="padding-top: 0;">
      <ion-item lines="none" class="ion-no-padding-horizontal">
        <ion-label>
          <h3> Delivery Scheduled for:</h3>
          <p class="ion-text-wrap">12/16/22 at 11:30AM - 12:00PM </p>
        </ion-label>
        <ion-button class="ion-margin-top" slot="end" justify="space-between"> Change </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- Contact Information -->
  <ion-card class="cartCardOrder">
    <ion-item lines="none">
      <ion-card-title style="margin-left: -10px;" class="cartTitleOrder colorText">
        Contact Information
      </ion-card-title>
      <ion-button class="btn" slot="end"> EDIT </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-item lines="none" class="colorText ">
        <ion-label class="ion-text-wrap ">
          <h3>
            <p class="cartSubTitleOrder">Email</p>
            <p style="font-size: 13px;margin-bottom: 10px;">huy.tran@vanlanguni.com</p>
          </h3>
          <h3>
            <p class="cartSubTitleOrder">Phone</p>
            <p style="font-size: 13px;margin-bottom: 10px;">093-202-8536</p>
          </h3>
          <h3>
            <p class="cartSubTitleOrder">Address</p>
            <p style="font-size: 13px;">Huy Tran</p>
            <p style="font-size: 13px;">108 Athabasca, Avenue</p>
            <p style="font-size: 13px;">Hilton, 79601</p>
          </h3>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-card>
  <!-- Payment Method: -->
  <ion-card class="cartCardOrder">
    <ion-card-title class="cartTitleOrder colorText">
      Payment Method:
    </ion-card-title>
    <ion-checkbox class="colorText checkoutPaymentMT " labelPlacement="end">Pay Online</ion-checkbox><br />
    <p class=" checkoutsubPaymentMT">Something....</p>
  </ion-card>
  <!-- Discount  -->
  <ion-card class="cartCardOrder">
    <ion-card-title lines="none" class="colorText cartTitleOrder">
      Discount
    </ion-card-title>
    <ion-button class="colorText cartCACAddPromo">
      Add Promo Code
      <ion-icon name="add-outline">
      </ion-icon>
    </ion-button>
    <!-- </ion-item> -->
  </ion-card>
  <ion-card style="border-radius: 0;">
    <ion-card-title class="cartTitleCAC">
      Product Items
    </ion-card-title>
    <ion-card-content>
      <ion-item class="paddingCartCAC">
        <ion-thumbnail slot="start" style="margin-right: 8px;">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label class="cartCACName ion-text-wrap colorText">
          Alberta Beef Sandwich Combo
          <ion-label>
            <p class="cartCACPrice colorText">$13.00</p>
          </ion-label>
        </ion-label>
        <p class="setQuantity cartCACPrice ion-text-center">
          1
        </p>
      </ion-item>
    </ion-card-content>
    <ion-item lines="full">
      <ion-label class="cartCACViewDetail colorText">
        <ion-row class="ion-justify-content-between">
          <div class="cartCACPrice">$13.00</div>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-card>
  <!-- Order Summary -->
  <ion-card class="cartCardOrder">
    <ion-card-title class="cartTitleOrder colorText cartTitleCAC">
      Order Summary
    </ion-card-title>
    <ion-item lines="none" class="colorText">
      <ion-label>
        <h3>
          <ion-row class="ion-justify-content-between cartCardSubOrder">
            Total Items:
            <div>1 item</div>
          </ion-row>
          <ion-row class="ion-justify-content-between cartCardSubOrder">
            Subtotal:
            <div>$13.00</div>
          </ion-row>
          <ion-row class="ion-justify-content-between cartCardSubOrder">
            Tax:
            <div>$0.65</div>
          </ion-row>
          <ion-row style="margin-bottom: 20px;" class="ion-justify-content-between cartCardSubOrder">
            Order total:
            <div>$13.65</div>
          </ion-row>
        </h3>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-grid [fixed]="true" style="text-align: center;">
    <ion-row>
      <ion-col> <ion-button class="btnCheckout colorText">PLACE ORDER</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>