ion-radio::part(container) {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    border: 2px solid #ddd;
}

ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
}

ion-radio.radio-checked::part(container) {
    background: var(--ion-color-primary);
    border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
}

ion-radio-group {
    ion-row {
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        margin-left: 10px;
        font-weight: bold;
        color: var(--ion-color-dark);
        margin-bottom: 10px;
    }
}

ion-button {
    --background: none;
    --background-hover: none;
    --background-activated: none;
    color: var(--ion-color-danger);
    font-weight: bolder;
    font-size: smaller;
}

ion-checkbox {
    --size: 17px;
    --checkmark-width: 0px;
    --border-width: 1px;
    --border-color: black;
    --border-color-checked: black;
    --checkbox-background-checked: var(--ion-color-primary);
}

ion-thumbnail {
    --size: 70px;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

ion-modal ion-toolbar {
    --background: white !important;
    color: black;
}

.close-icon {
    font-size: 30px;
    color: var(-ion-color-success-contrast);
}

.colorTitle {
    color: var(--ion-color-primary);
}

.colorText {
    color: black;
}

.cartCardOrder {
    border-radius: 0px;

    h2 {
        color: var(--ion-color-dark);
    }

    .cartTitleOrder {
        font-size: 17px;
        padding: 10px;
        margin-bottom: -10px;
    }

    .cartCardSubOrder {
        font-weight: 700;
        margin-bottom: 4px;
        color: var(--ion-color-medium-shade);
    }

    .titleTotal {
        font-weight: 700;
        margin-bottom: 4px;
    }

    .cartSubTitleOrder {
        font-size: 13px;
        font-weight: 800;
    }
}

.header {
    height: 50px;
}

.cartTitleOrder {
    font-size: 17px;
    padding: 10px;
}

.cartSubTitleOrder {
    font-size: 13px;
    font-weight: 800;
}

.cartSubTitleType {
    font-size: 14px;
    font-weight: 700;
}

.paddingCartCAC {
    --padding-start: 0;
    margin-top: -10px;
}

.cartTitleCAC {
    background-color: var(--ion-color-primary);
    font-size: 17px;
    padding: 7px;
    color: var(--ion-color-primary-contrast);

}

.cartCACName {
    font-size: 12px;
    font-weight: 700;
}

.cartCACPrice {
    font-weight: 700;
}

.cartCACOption {
    font-size: 12px;
}

.cartCACViewDetail {
    width: 100%;
    margin-left: 85px;
    font-size: 14px;
    margin-top: -2px;
}

.cartCACAddPromo {
    margin-top: -15px;
    font-size: 10px;
    color: var(--ion-color-medium);
}

.cartCardSubOrder {
    font-weight: 700;
    margin-bottom: 4px;
}

ion-input.cartInput {

    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    font-size: 12px;
    --padding-bottom: 50px;
    --padding-end: 30px;
    --padding-top: 10px;
    --padding-start: 30px;

}

.btnCheckout {
    border: 1px solid var(--ion-color-primary-contrast);
    border-radius: 20px;
    font-weight: 800;
    background-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary-contrast);
    margin-bottom: 50px;
}

.checkoutPaymentMT {
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 700;
}

.checkoutsubPaymentMT {
    margin-left: 48px;
    font-size: 10px;
    width: 250px;
}

.setQuantity {
    border: 1px solid;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin-top: -50px;
}

.toolBarPromo {
    height: 30px;
}

.inpPromoCode {
    border: 1px solid;
    width: 70%;
    margin-left: 15%;
    margin-top: -30px;

}

.pTitleAlertPromo {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: var(--ion-color-success-shade);
    margin-top: -20px;

}

.btnTitleAlerPromo {
    margin-left: 15%;
    width: 70%;
    font-weight: 600;
    background-color: var(--ion-color-primary);
    text-align: center;
    color: var(--ion-color-primary-contrast);
    border-radius: 5px;
    margin-bottom: 90px;
}

.modalSchedule {
    --border-radius: 13px;
}

.modalPromo {
    --width: 78%;
    --height: 40%;
    --border-radius: 13px;
}


// SCSS Modal Edit Contact 
.ml-25 {
    margin-left: 25px;
}

.mr-25 {
    margin-right: 25px;
}

ion-back-button {
    color: var(--ion-color-warning-contrast);
}

.row-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ion-label {
        text-transform: uppercase;
    }

    .input-contact {
        display: block;
        margin-top: 10px;
        background-color: var(--ion-color-light-shade);
        padding-left: 10px !important;
        border: 1px solid var(--ion-color-medium);

        .icon-down-sharp {
            position: absolute;
            margin-top: 15px;
            margin-left: 55px;
        }
    }
}

.col-custom {
    .checbox-custom {
        margin-left: 15px;
    }

    .text-custom {
        font-size: 16px;
        margin-left: -15px;
    }
}

.row-section {
    margin: 5px 0 0 0;
    padding: 0 33px;

    .label-custom {
        text-transform: uppercase;
    }

    .input-section {
        display: block;
        margin-top: 10px;
        background-color: var(--ion-color-light-shade);
        padding-left: 10px !important;
        border: 1px solid var(--ion-color-medium);
    }
}

.btnUpdate {
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin: 15px 0;
    width: 150px;
    color: var(--ion-color-primary-contrast);
}

// End  SCSS Modal Edit Contact 

// SCSS Modal Information Payment
.bar {
    width: 100%;
    height: 1px;
    background-color: var(--ion-color-warning-contrast);
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 20px;
}

.fieldInfo {
    margin-left: 15px;
}

.momo {
    margin-top: 30px;
    display: flex;
    // flex-direction: row;
    // align-items: center;
}

.momoInfo {
    font-size: 14px;
    padding-top: 6px;
    opacity: 0.7;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.btnCancel {
    background-color: var(--ion-color-light-shade) !important;
    color: var(--ion-color-warning-contrast);
    margin-right: 10%;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--ion-color-primary-contrast);
    border-radius: 6px;
}

.btnPaid {
    background-color: var(--ion-color-danger-tint) !important;
    color: var(--ion-color-primary-contrast);
    justify-content: center;
    text-align: center;
    border: 1px solid var(--ion-color-primary-contrast);
    border-radius: 6px;
}

.btnGrPay {
    text-align: center;
    margin-top: 30px;
}

// Modal Paid
.modalPaid {
    --width: 150px;
    --min-width: 250px;
    --height: 300px;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
.wrongTextAlert{
    color: var(--ion-color-danger);
    font-weight: bold;
}