<ion-header>
  <ion-toolbar style="height: 50px;">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back" defaultHref="/more"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-justify-content-center">About Our App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>App Version 1.1.1</ion-item>
    <ion-item>
      What's New in Our App
      <a class="btn-view" [routerLink]="['/intro']">View</a>

    </ion-item>
  </ion-list>
</ion-content>