ion-content {
    display: block;
}

ion-back-button {
    color: var(--ion-color-warning-contrast);
}

ion-back-button {
    margin-left: 50%;
    margin-top: 20%;
}

.btn-view {
    margin-left: 130px;
    font-size: medium;
    font-weight: bolder;
    text-decoration: none;
}