<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      HOME
      
    </ion-tab-button>
    <ion-tab-button tab="shopping-cart">
      <ion-icon name="cart-outline"></ion-icon>
      Cart
      
    </ion-tab-button> 
    <ion-tab-button tab="department">
      <ion-icon name="beer-outline"></ion-icon>
      DEPARTMENT
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      More
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>