<ion-header [translucent]="true">
  <ion-toolbar style="height: 50px;">
    <ion-buttons slot="start" class="back">
      <ion-back-button text="" icon="caret-back" defaultHref="/aboutourapp"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-justify-content-center">Giới thiệu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <swiper-container [pagination]="{clickable:true, dynamicBullets:true}">
    <swiper-slide class="ion-padding">
      <ion-row class="ion-justify-content-center">
        <img src="../../../../../assets/intro1.png">
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <div class="title">
          <h2>Chat bot</h2>
        </div>
        <div class="paragrapb">
          <h4>Bạn có thể sử dụng dịch vụ hộp trò chuyện tự động để trợ giúp trong quá trình mua sắm ở hệ thống BIC</h4>
        </div>
      </ion-row>
    </swiper-slide>
    <swiper-slide class="ion-padding">
      <ion-row class="ion-justify-content-center">
        <img src="../../../../../assets/intro2.png">
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <div class="title">
          <h2>Giỏ hàng và giao dịch</h2>
        </div>
        <div class="paragrapb">
          <h4>Sau khi hoàn tất việc thêm sản phẩm vào giỏ hàng sau đó tiến hành thanh toán </h4>
        </div>
      </ion-row>
    </swiper-slide>
  </swiper-container>
</ion-content>