<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back" defaultHref="/home" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-page">
      Blog Vine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../../../../assets/advertisement2.jpeg">
  <ion-card-title class="title-blog">
    Nine things you need to know about the new alcohol duty system
  </ion-card-title>
  <p class="author"> 10/23/2023 04:00 <br>
    Author: Jason Wlliam
  </p>

  <p class="paragragh">
    Alcohol duty is a type of tax paid by companies that produce alcohol.
    The change in August makes duty across different drinks more consistent by taxing based on strength (ABV).
    In the past the tax system has been complicated and inconsistent, with different rules for different drinks.
    The new system will have fewer tax bands, and drinks in the highest strength tax bands will pay the same rate,
    regardless of the type of drink.
    Some drinks, such as strong cider and wine in off-licences, will be taxed at a higher rate than before. Others, such
    as draught beer and cider sold in pubs will be taxed less.

    <br><br> The level of duty is decided each year in the Government Budget.
    After a decade of cuts and freezes to alcohol duty, in August the level of duty will rise with inflation.
  </p>

</ion-content>
<app-news></app-news>