.news {
    color: var(--ion-color-primary);
    margin-left: 16px;
}

swiper-container {
    position: relative;

    swiper-slide {
        ion-col {
            ion-card {
                ion-card-content {
                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 0.5em;
                    }

                    ion-text {
                        font-size: 17px;
                        font-weight: 800;
                        color: var(--ion-color-light-contrast);
                    }

                    p {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    a {
                        font-weight: 650;
                        font-size: 16px;
                    }
                }
            }

        }

    }

}