<ion-header [translucent]="true">
  <ion-toolbar style="height: 50px;">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-justify-content-center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row class="ion-justify-content-center ion-margin">
            <ion-row>
              <ion-label class="text-ok">That's OK!</ion-label>
            </ion-row>
            <ion-row class="ion-text-center ion-padding">
              <ion-text> We forget our passwords too! Please enter your email below and we will send you a link
                to reset your password. </ion-text>
            </ion-row>
          </ion-row>
          <ion-item>
            <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="button-login">
        <ion-button color="secondary" type="submit" expand="block">Submit</ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>